.nav {
    justify-content: space-around;
    align-items: center;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo {
    /* display: inline-block; */
}


.logo img {
    width: 140px;
    height: 70px;

}

.elements {
    display: inline-block;
    
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    /* gap: 50px; */
    padding: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

ul li img {
    height: 20px;
    width: 20px;
    /* align-items: baseline; */
}
.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px;
    gap: 23px;
    font-family: sans-serif;
}

.first span{
    font-size: 40px;
}
.first p{
    font-size: 25px;
    width: 50vw;
    text-align: center;
}

.btn{
    background: #00b6d1;
    padding: 14px 16px;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    /* margin: 12px 0; */
    cursor: pointer;
}

.download{
    align-items: center;
    gap: 10px;
    /* justify-content: center; */
    display: flex;
}

.download :nth-child(2){
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 100;
}

.small{
    font-size: 12px;
    font-family: sans-serif;
}

.download img{
    border-radius: 35px;
    border: 2px solid black;
}

.second { 
    max-width: 70vw;
    margin: auto; 
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.item {
    padding: 23px;
    background: #f9f9f9;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.item-lang{
    font-weight: 700;
    text-align: center;
    padding-bottom: 36px;
}

.btn a{
    text-decoration: none;
    color: white;
}

.flex {
    display: flex;
}

.green {
    background-color: #5cb85c;
}

@media screen and (max-width: 1145px) {
    .grid{ 
        grid-template-columns: 1fr; 
    }
}